[submodule "libraries/RF24"]
	path = libraries/RF24
	url = https://github.com/TMRh20/RF24.git
[submodule "libraries/NRF24Network"]
	path = libraries/NRF24Network
	url = https://github.com/TMRh20/RF24Network.git
